<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        div{
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Welcome to the SportCenter Database</h1>

<div class="container">

    <div>What is SportCenter Database ?
        <a href="info.html">
            <button>--></button>
        </a></div>

    <div>Show tables
        <a href="showtables.html">
            <button>--></button>
        </a>
    </div>














</div>
</body>
</html>