<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </style>
</head>
<body>

<h1 STYLE="text-align: center">THERE ARE TABLES BELOW HERE</h1>
    <table border="1">
        <tr>
            <th><a href="customertable.html">customer</a></th>
            <th><a href="gymtable.html">gym</a></th>
            <th><a href="pttable.html">personalTrainer</a></th>
            <th><a href="subscribetable.html">subscribe</a></th>
            <th><a href="workstable.html">works</a></th>
        </tr>
        <tr>
            <!--data numbers of tables-->
            <td>{{ customerNumbers }}</td>
            <td>{{ gymNumbers }}</td>
            <td>{{ ptNumbers }}</td>
            <td>{{ subscribeNumbers }}</td>
            <td>{{ workNumbers }}</td>
        </tr>
    </table>
    <div style="text-align: center;padding-top: 25px;">
        <a href="index.html"><button>Main Menu</button></a>
    </div>
    

</body>
</html>